.listingcard {
  width: 350px;
  height: 33rem;
  border-style: inset;
  border-color: black;
  margin: auto;
  /* Originally 25px Thoughts? => revert back to 25px or keep auto */
  position: center;
  margin-right: 5px;
  margin-bottom: 5px;
  border-radius: 10px;
}

.listing-img {
  height: 20rem !important;
}

ul {
  list-style-type: none;
}

.thumbs {
  visibility: hidden;
}

.card-body {
  width: 100%;
  position: absolute;
  bottom: -1rem;
}

.listingviewbtn {
  border-style: inset;
  border-color: rgb(56, 56, 56);
  background-color: rgb(124, 30, 30);
  color: rgb(255, 249, 249);
}

button:hover {
  background-color: red;
  color: black;
}
