.card {
  width: 400px;
  height: 17rem;
  border-style: inset;
  margin: 25px;
  position: center;
}

img {
  height: 12rem;
}

ul {
  list-style-type: none;
}

.thumbs {
  visibility: hidden;
}

.card-body {
  width: 100%;
  position: absolute;
  bottom: -1rem;
}
