.navbar {
  background-color: lightgray;
  border-bottom-style: inset;
}

.main {
  color: rgb(255, 255, 255);
}

.nav-link {
  color: rgb(250, 250, 250) !important;
  background-color: lightgray !important;
  border-color: lightgray !important;
}

.nav-link:hover {
  color: grey !important;
}

.main:hover {
  color: grey;
}
